@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');
:root {
    --bg-color: #1e3250;
    --text-color: #fff;
    --second-color: #3863a0;
    --third-color: #66cda3;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.container {
    background-color: var(--second-color);
    margin: 0 auto;
    padding: 1.3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.navbar-list {
    list-style: none;
}

