@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Klee One', cursive;
    height: 100vh;
    background: #070707;
}

section {
    margin: 8em;
}

.hero {
    display: flex;
    justify-content: space-around;
}

.hero-text {
    color: #FFF;
    padding-right: 3em;
    font-size: 1.3em;
}
.hero-text span {
    font-size: 3.5em;
    display: block;
    color: #ffd21e;
    font-weight: bold;
}

.hero-img img {
    border-radius: 20px;
}

.project-section {
    color: #fff;
    display: flex; 
}

.project {
    border: 1px solid #fff;
    margin-right: 2em;
    margin-bottom: 2em;
    padding: 2em 2.5em;
}

.project h1 {
    margin-bottom: .5em;
}

.cta {
    display: inline-block;
    background-color: #ffd21e;
    color: #000000;
    padding: .5em 1.5em;
    margin-top: .5em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}
