@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #070707;
}

section {
    margin: 3em 2em;
}

.hero-text {
    color: #fff;
    font-size: 1em;
}

.hero-text span {
    color: #ffd21e;
    font-size: 2em;
    display: block;
}

.hero-text .intro {
    text-align: justify;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    margin-right: 1em;
    font-size: 2em;
    color: #fff;
}

.fab:hover {
    color: #fff;
}

img {
    width: 100%;
    border-radius: 20px;
}

.project-section {
    margin-bottom: 5em;
}

.project {
    color: #fff;
    text-align: center;
    margin-top: 2em;
    padding: 2em;
    background-color: #121516;
    border-radius: 20px;
}

.project:hover{
    box-shadow: 5px 10px 20px rgba(253, 235, 69, 0.2);
}

h1 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: .8em;
}

.cta {
    display: inline-block;
    margin-top: .8em;
    padding: .5em 1em;
    color: #000;
    font-weight: bold;
    background-color: #ffd21e;
    text-decoration: none;
    font-size: 1.2em;
}
.cta:hover,
.cta.focus {
    color: #000;
}

.about {
    color: #FFF;
    background-color: #121516;
    padding: 2em;
    border-radius: 20px;
}

.about-me p {
    text-align: justify;
}

@media (min-width: 650px) {
    section {
        margin: 5em;
    }

    .hero {
        display: flex;
        justify-content: space-around;
    }

    .hero-text {
        color: #FFF;
        padding-right: 2em;
        font-size: 1em;
        letter-spacing: 2px;
    }

    .hero-text span {
        font-size: 2em;
        display: block;
        color: #ffd21e;
        font-weight: bold;
    }
    .hero-img img {
        border-radius: 20px;
        width: 300px;
    }
}

